#mainPic {
    background-image: url(../../../../assets/topbackpic.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
}
@import url('http://fonts.cdnfonts.com/css/kollektif');
body {
    margin: 0;
    font-family: "Kollektif";
                            
                
}
.header {
    font-weight: 700;
    font-size: 75px;
    margin: 30px 0;
    color: #000;
}
.contentText {
    font-size: 17px;
    color: #000;
    font-weight: 500;
}
.contentHeader {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}
.contact {
    font-size: 30px;
    color: #000;
    text-decoration: underline;
}
.header2 {
    font-weight: 700;
    font-size: 70px;
    margin: 30px 0;
    color: #129FD2;
}
.headersubHeader {
    font-weight: 500;
    font-size: 24px;
    color: #000;
    margin-bottom: 30px;
}
.header3 {
    font-size: 90px;
    color: white;
    font-weight: 800;
}
.subHeader {
    font-size: 27px;
    color: white;
    font-weight: 500;
    margin-top: 10px;

}
.btnLogin {
    color: white !important;
    background-color: #F8C000 !important;
    padding: 10px 40px !important;
    width: 250px;
    height: 65px;
    font-size: 20px !important;
    border-radius: 10px !important;
}
.btnSignup {
    color: white !important;
    background-color: #129FD2 !important;
    padding: 10px 40px !important;
    width: 250px;
    height: 65px;
    font-size: 20px !important;
    border-radius: 10px !important;

}
p {
    margin: 0;
}
.header {
    font-weight: 700;
    font-size: 70px;
    margin: 30px 0;
    color: #000;
}
.contentText {
    font-size: 17px;
    color: #000;
    font-weight: 500;
}
.contentHeader {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}
@media screen and (max-width:600px) {
    #mainPic {
        background-image: url(../../../../assets/juliane-mobile.png);
        background-position: left;
    }
    .header3 {
        font-size: 45px;
    }   
    .header {
        font-size: 50px;
    }
    /* #mainWrap {
        height: 85vh !important;
    } */
    .subHeader {
        font-size: 22px;
    }
    #mainPic {
        justify-content: center;
    }
    #mainWrap {
        height: unset !important;
    }
    .header {
        font-size: 50px;
    }
    /* #mainWrap {
        height: 85vh !important;
    } */
    #mainWrap {
        align-content: unset !important;
    }
    #textWrap {
        padding-top: 60px !important;
    }
    .content {
        font-size: 18px;
        letter-spacing: 0px;
    }
    #imgWrap {
        height: unset !important;
    }
}
#sidepicChild {
    background-image: url(../../../../assets/Untitled\ design\ 1.png);
}
.header1 {
    font-weight: 600;
    color: #f8c000;
    font-size: 50px;
}
.content {
    font-weight: bold;
    font-size: 22px;
    line-height: 1.8;
    margin-top: 30px;
    letter-spacing: 2px;
}