
@import url('http://fonts.cdnfonts.com/css/kollektif');
body {
    margin: 0;
}
.header {
    font-weight: 700;
    font-size: 75px;
    margin: 30px 0;
    color: #000;
}
.contentText {
    font-size: 17px;
    color: #000;
    font-weight: 500;
}
.contentHeader {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}
.contact {
    font-size: 30px;
    color: #000;
    text-decoration: underline;
}
@media screen and (max-width:600px) {
    .header {
        font-size: 50px;
    }
    #mainWrap {
        height: 85vh !important;
    }
}
